:root { 
--cyan_300:#4fd8e0; 
--blue_500_0a:#2aa3ef0a; 
--black_900:#000000; 
--blue_gray_50:#f1f1f1; 
--light_blue_A400:#00c2ff; 
--teal_900:#01264e; 
--light_green_A200:#abf74b; 
--white_A700:#ffffff; 
}